[Desktop Entry]
Name=Asteroids
Exec=/CAMINHO/PARA/asteroids
Icon=/CAMINHO/PARA/assets/logo.png
Type=Application
Categories=Game;
Comment=Edite os caminhos acima antes de instalar